@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

/* Common */

header {
 
}
section {
    position: fixed;
    height: 80%;
    width: 40%;
    margin: 5% 30%;
    padding: 0;
    border: 5px solid black;
}

#link > img {
    position: relative;
    left: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    padding: 0;
    border: 5px solid black;
}

#link > a {
    disply: inline-block; 
    position: relative;
    left: 0;
    top: 20%;
    margin: 0;
    padding: 0;
    border: 5px solid black;
}


/* 태블릿 - 768px 이상 */
@media screen and (min-width:760px) {
header {
   
}
}

/* PC - 992px 이상 */
@media screen and (min-width:992px) {
header {
      
    }
}