@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

/* Common */

#link {
    position: relative;
    height: 80%;
    width: 80%;
    margin: 10%;
    padding: 0;
    border: 5px solid black;
}

#link > img {
    position: fixed;
    height: 80%;
    width: 80%;
    margin: 0;
    padding: 0;
    border: 5px solid black;
}

#link > a {
    position: fixed;
    height: 80%;
    width: 80%;
    margin: 10%;
    padding: 0;
    border: 5px solid black;
}


/* 모바일 - 767px 이하 */
header {
 
}

section {
    position: relative;
    width: 100%;
    padding: 15px 5% 10px 5%;
}

/* 태블릿 - 768px 이상 */
@media screen and (min-width:760px) {
header {
   
}
}

/* PC - 992px 이상 */
@media screen and (min-width:992px) {
header {
      
    }
}